<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                      http://www.springframework.org/schema/beans/spring-beans.xsd
                      http://www.springframework.org/schema/security
                      http://www.springframework.org/schema/security/spring-security.xsd">

	<security:global-method-security secured-annotations="enabled" />
	
	<security:http auto-config="true" use-expressions="true">		
		<security:csrf disabled="true" />
		<security:session-management invalid-session-url="/page/login.html" />
		<security:form-login login-page="/page/login.html" default-target-url="/page/index.html" always-use-default-target="true" />
		<security:logout logout-success-url="/login?logout=true" invalidate-session="true" delete-cookies="JSESSIONID" />
		
		<security:intercept-url pattern="/page/login"    access="permitAll" />
		<security:intercept-url pattern="/page*"         access="hasRole ('ROLE_ADMIN')" />
		<security:intercept-url pattern="/admin/**"      access="hasRole ('ROLE_ADMIN')" />
		<security:intercept-url pattern="/logout"        access="authenticated" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider >
			<!-- <security:password-encoder hash="md5" />
			user-service-ref="usersDetailsService" 
			 <bean id="usersDetailsService" class="bg.garage.security_service.UsersDetailsServiceImpl" /> -->
		
		  <security:user-service>
		      <security:user name="admin" password="pas" authorities="ROLE_USER,ROLE_ADMIN" />
              <security:user name="user"  password="pas" authorities="ROLE_USER" />
		  </security:user-service> 
		</security:authentication-provider>
	</security:authentication-manager>

</beans>
